.history-item
    margin-bottom: 15px
    background-color: white
    border-radius: 4px
    overflow: hidden

    .image
        vertical-align: middle

    .info
        margin-left: 15px
        display: inline-block
        vertical-align: middle